.claim-reward Button {
    width: 180px !important;
    margin-top: 0px;
    font-size: 12px;
    font: bold;
    border-color: gray;
  }
  
  Button:hover {
    background-color: green;
    color: white;
  }
  